$color-primary: #29b4b0;//#18c79c
$font-color: #666666;
$container-background: #f0f3f4;
$LineHeight: 40px;
$defaultBg: #fff;
$borderone: 1px solid #d8d8d8;
$num0:0px;
$num5:5px;
$num10:10px;
$num15:15px;
$num20:20px;
$num30:30px;
$num40:40px;

html,body{
	height: 100%;
}
body{
	background: $container-background;
}